SMTP_CONFIG={"Host":"smtp.yandex.ru","Port":465,"User":"your-email@yandex.com","Password":"your-password"}
EMAIL_CONFIG={"From":"sender@example.com","To":"recipient@example.com"}
DATABASE_URL="postgres://postgres:admin@localhost:5432/daily_email_sender?sslmode=disable&client_encoding=UTF-8"
