# Environment variables
.env
.env.local

# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
daily-email-sender-linux

# Docker volumes
postgres_data/
postgres_data_dev/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
